@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    background-color: #020617;
    /* Slate-950 */
    color: #e2e8f0;
    /* Slate-200 (Softer than pure white) */
    font-family: 'Inter', sans-serif;
    /* Explicit Sans-Serif */
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.025em;
    color: #ffffff;
    font-weight: 700;
  }
}

@layer utilities {

  /* Futuristic Grid Animation */
  @keyframes grid-flow {
    0% {
      transform: rotateX(60deg) translateY(-50%) scaleY(1.5);
    }

    100% {
      transform: rotateX(60deg) translateY(0%) scaleY(1.5);
    }
  }

  .animate-grid-flow {
    animation: grid-flow 20s linear infinite;
  }

  @keyframes float-slow {

    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(20px, -30px);
    }
  }

  @keyframes float-medium {

    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(-15px, 20px);
    }
  }

  @keyframes float-fast {

    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(10px, 10px);
    }
  }

  .animate-float-slow {
    animation: float-slow 8s ease-in-out infinite;
  }

  .animate-float-medium {
    animation: float-medium 6s ease-in-out infinite;
  }

  .animate-float-fast {
    animation: float-fast 4s ease-in-out infinite;
  }
}